-#unless entry.content.nil?
%a{:id => "entry_marker_#{entry.id}"}
.entry{:class => "#{entry.content_type_name}#{' has_collections' if entry.collections}", :id => "entry_#{entry.id}"}

  / label
  %ul.type
    %li.label
      %span
        =entry.content_type_name

  / content + meta    
  .content
    .body
      =render :partial => "entries/#{entry.content_type_name}/#{entry.content_type_name}", :locals => {"#{entry.content_type_name}".to_sym => entry.content}
    .meta
      %span.created_at="#{time_ago_in_words(entry.created_at)} ago"
      -unless @project || !standalone && @workspace && @workspace.project
        %span.project
          in
          =link_to entry.project.name, project_path(entry.project)

  / actionable links + etc
  .options
    -unless !created_by_current_user?(entry) && @entry
      .group
        -if created_by_current_user?(entry)
          =link_to_remote image_tag("trash_icon.gif"), :url => project_entry_path(entry.project, entry, :context => "#{standalone ? 'entry' : 'project'}"), :method => :delete, :confirm => "Are you sure?"
          |
          =link_to_remote "Edit", :url => edit_project_entry_path(entry.project, entry, :content_type => entry.content_type_name, :context => "#{standalone ? 'entry' : 'project'}"), :method => :get
          ="|"unless @entry
        -unless standalone
          =link_to "View", project_entry_path(project, entry)
      
    .group.user
      From
      %strong=entry.by_line(current_user)
