-remote_form_for :entry, @entry, :url => {:action => create_or_update(@entry)}, :html => {:id => "#{content_type}_entry_form#{"_" + @entry.id.to_s unless @entry.new_record?}", :method => create_or_update(@entry, :choose_method => true) } do |f|

  -f.fields_for content_type.to_sym do |cf|
    %fieldset.options
      %span.legend Options
      =render :partial => "entries/#{content_type}/form/optional_fields", :locals => {:cf => cf}
      %div.row.hide
        %label Add to a workspace (optional)
        %select
          %option Deploy
          %option Backlog
    
    %fieldset.main
      =#debug(@entry)
      .clear
      %span.legend="#{new_or_edit(@entry)} #{content_type}"
    
      =render :partial => "entries/#{content_type}/form/fields", :locals => {:cf => cf}
    
      %div.buttons
        / =#f.hidden_field :type_id, :value => type.id
        -if @context
          =hidden_field_tag "context", @context
        =f.submit "#{create_or_update(@entry).capitalize} #{content_type}"
        or
        =link_to_function "Cancel", "$('##{content_type}_entry_form#{"_" + @entry.id.to_s unless @entry.new_record?}').remove(); $('.form_area').hide();"

      :javascript
        $('textarea.expanding').autogrow();
